# Python
__pycache__/
*.py[cod]
*.so
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data files 
# data/*.tsv
data/
*.tsv
*.csv
*.txt
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/